.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
  cursor: pointer;
}

a {
  margin-right: 30px;
  font-size: 16px;
  text-decoration: none;
  color: whitesmoke;
}
.right {
  display: flex;
  margin-right: 25px;
  align-items: center;
}

.icon {
  margin-left: 25px;
  margin-right: 5px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

span {
  cursor: pointer;
}
